## Time series data for power plants

In [1]:
import pandas as pd

In [3]:
%%time
path_eia923 = './eia923/'
df_eia923_y2017 = pd.read_excel(path_eia923 + 'EIA923_Schedules_2_3_4_5_M_10_2017_20DEC2017.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

In [6]:
df_eia923_y2017.columns.get_level_values(1)

Index(['Plant Id', 'Combined Heat And\nPower Plant', 'Nuclear Unit Id',
       'Plant Name', 'Operator Name', 'Operator Id', 'Plant State',
       'Census Region', 'NERC Region', 'Reserved', 'NAICS Code',
       'EIA Sector Number', 'Sector Name', 'Reported\nPrime Mover',
       'Reported\nFuel Type Code', 'AER\nFuel Type Code', 'Reserved',
       'Reserved', 'Physical\nUnit Label', 'Quantity\nJanuary',
       'Quantity\nFebruary', 'Quantity\nMarch', 'Quantity\nApril',
       'Quantity\nMay', 'Quantity\nJune', 'Quantity\nJuly', 'Quantity\nAugust',
       'Quantity\nSeptember', 'Quantity\nOctober', 'Quantity\nNovember',
       'Quantity\nDecember', 'Elec_Quantity\nJanuary',
       'Elec_Quantity\nFebruary', 'Elec_Quantity\nMarch',
       'Elec_Quantity\nApril', 'Elec_Quantity\nMay', 'Elec_Quantity\nJune',
       'Elec_Quantity\nJuly', 'Elec_Quantity\nAugust',
       'Elec_Quantity\nSeptember', 'Elec_Quantity\nOctober',
       'Elec_Quantity\nNovember', 'Elec_Quantity\nDecember',
       'MMBtuPer_Unit\nJanuary', 'MMBtuPer_Unit\nFebruary',
       'MMBtuPer_Unit\nMarch', 'MMBtuPer_Unit\nApril', 'MMBtuPer_Unit\nMay',
       'MMBtuPer_Unit\nJune', 'MMBtuPer_Unit\nJuly', 'MMBtuPer_Unit\nAugust',
       'MMBtuPer_Unit\nSeptember', 'MMBtuPer_Unit\nOctober',
       'MMBtuPer_Unit\nNovember', 'MMBtuPer_Unit\nDecember',
       'Tot_MMBtu\nJanuary', 'Tot_MMBtu\nFebruary', 'Tot_MMBtu\nMarch',
       'Tot_MMBtu\nApril', 'Tot_MMBtu\nMay', 'Tot_MMBtu\nJune',
       'Tot_MMBtu\nJuly', 'Tot_MMBtu\nAugust', 'Tot_MMBtu\nSeptember',
       'Tot_MMBtu\nOctober', 'Tot_MMBtu\nNovember', 'Tot_MMBtu\nDecember',
       'Elec_MMBtu\nJanuary', 'Elec_MMBtu\nFebruary', 'Elec_MMBtu\nMarch',
       'Elec_MMBtu\nApril', 'Elec_MMBtu\nMay', 'Elec_MMBtu\nJune',
       'Elec_MMBtu\nJuly', 'Elec_MMBtu\nAugust', 'Elec_MMBtu\nSeptember',
       'Elec_MMBtu\nOctober', 'Elec_MMBtu\nNovember', 'Elec_MMBtu\nDecember',
       'Netgen\nJanuary', 'Netgen\nFebruary', 'Netgen\nMarch', 'Netgen\nApril',
       'Netgen\nMay', 'Netgen\nJune', 'Netgen\nJuly', 'Netgen\nAugust',
       'Netgen\nSeptember', 'Netgen\nOctober', 'Netgen\nNovember',
       'Netgen\nDecember', 'Total Fuel Consumption\nQuantity',
       'Electric Fuel Consumption\nQuantity', 'Total Fuel Consumption\nMMBtu',
       'Elec Fuel Consumption\nMMBtu', 'Net Generation\n(Megawatthours)',
       'YEAR'],
      dtype='object')

In [7]:
df_eia923_y2017.shape

(6000, 97)

In [8]:
pd.read_excel?

In [9]:
df_eia923_y2017.columns = df_eia923_y2017.columns.get_level_values(1)

In [48]:
df_eia923_y2017.head()

,Plant Id,Combined Heat And Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen September,Netgen October,Netgen November,Netgen December,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
0,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,248836,203879,.,.,661086,661086,674221,674221,2477786.00,2017
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,452006,376385,.,.,47389304,47389304,48307648,48307648,4550698.00,2017
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,384122,418924,.,.,1358560,1358560,28379544,28379544,2793003.40,2017
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,13141.6,6080.86,.,.,835225,835225,851693,851693,79588.58,2017
4,7,Y,NaN,Gadsden,Alabama Power Co,195,AL,ESC,SERC,NaN,...,0,0,.,.,0,0,0,0,0.00,2017

In [56]:
drop_row_ind = df_eia923_y2017.loc[:, 'Operator Id'] == 99999

In [59]:
df_eia923_y2017 = df_eia923_y2017.loc[~drop_row_ind, :]

In [70]:
df_eia923_y2017.shape

(4371, 97)

In [60]:
df_test = df_eia923_y2017.set_index(['Plant Id', 'Plant Name', 'Operator Id'])

In [64]:
col_ind = [i for i in df_test.columns if 'Netgen' in i]

In [66]:
df_test02 = df_test.loc[:, col_ind]

In [67]:
df_test02.head()

                                Netgen\nJanuary Netgen\nFebruary  \
Plant Id Plant Name Operator Id
3        Barry      195                  260675           243163
                    195                  480271           452064
                    195                 94891.6           194469
                    195                 5795.41          2461.45
7        Gadsden    195                       0                0

                                Netgen\nMarch Netgen\nApril Netgen\nMay  \
Plant Id Plant Name Operator Id
3        Barry      195                219102        258366      260648
                    195                405400        468974      481976
                    195                138007        111695      126550
                    195               8044.66       3016.82     26052.8
7        Gadsden    195                     0             0           0

                                Netgen\nJune Netgen\nJuly Netgen\nAugust  \
Plant Id Plant Name Operator Id
3        Barry      195               251955       261885         269277
                    195               460433       484790         488399
                    195               365095       447143         512106
                    195               3951.9      8828.66        2214.49
7        Gadsden    195                    0            0              0

                                Netgen\nSeptember Netgen\nOctober  \
Plant Id Plant Name Operator Id
3        Barry      195                    248836          203879
                    195                    452006          376385
                    195                    384122          418924
                    195                   13141.6         6080.86
7        Gadsden    195                         0               0

                                Netgen\nNovember Netgen\nDecember
Plant Id Plant Name Operator Id
3        Barry      195                        .                .
                    195                        .                .
                    195                        .                .
                    195                        .                .
7        Gadsden    195                        .                .

In [68]:
df_test02.tail()

,,,Netgen January,Netgen February,Netgen March,Netgen April,Netgen May,Netgen June,Netgen July,Netgen August,Netgen September,Netgen October,Netgen November,Netgen December
Plant Id,Plant Name,Operator Id,,,,,,,,,,,,
61133,"Lorenzo Wind, LLC",61133,309,561,630,588,617,506,900,867,183,0,.,.
61172,EE Waianae Solar Project,60793,.,.,.,5042,5715,5125,5695,5700,5552,5201,.,.
61197,Pima Energy Storage System,60834,-42,-40,-47,-42,-46,-47,-48,-44,-45,-45,.,.
61221,Redbed Plains Wind Farm,60859,.,.,.,.,.,.,0,2241,19381,36487,.,.
61268,Kayenta Solar Project,60879,.,.,.,.,6910,6657,7802,7118,6855,6998,.,.

In [72]:
!ls eia923/f923_2016/

EIA923_Schedule_8_Annual_Environmental_Information_2016_Final_Revision.xlsx
EIA923_Schedules_2_3_4_5_M_12_2016_Final_Revision.xlsx
EIA923_Schedules_6_7_NU_SourceNDisposition_2016_Final_Revision.xlsx
~$EIA923_Schedules_2_3_4_5_M_12_2016_Final_Revision.xlsx

In [73]:
%%time
#path_eia923 = './eia923/'
df_eia923_y2016 = pd.read_excel(path_eia923 + 'f923_2016/EIA923_Schedules_2_3_4_5_M_12_2016_Final_Revision.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

CPU times: user 37 s, sys: 190 ms, total: 37.2 s
Wall time: 37.2 s

In [75]:
df_eia923_y2016.head()

Sources: EIA-923 and EIA-860 Reports,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 87_level_0,Unnamed: 88_level_0,Unnamed: 89_level_0,Unnamed: 90_level_0,Year-To-Date,Unnamed: 92_level_0,Unnamed: 93_level_0,Unnamed: 94_level_0,Unnamed: 95_level_0,Unnamed: 96_level_0
,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,-11.566,-10.832,-10.27,-20.909,0,0,0,0,-325.000,2016
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,251839,219263,266927,265011,878457,878457,895285,895285,2918277.000,2016
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,463646,401506,495929,501072,56694492,56694492,57790622,57790622,5483083.000,2016
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,473794,286736,363877,207463,2044002,2044002,43137858,43137858,4278313.100,2016
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,11246.3,14387.7,3534.43,1623.8,908006,908006,926020,926020,91217.936,2016

In [76]:
!ls eia923/f923_2015/

EIA923_Schedule_8_Annual_Environmental_Information_2015_Final_Revision.xlsx
EIA923_Schedules_2_3_4_5_M_12_2015_Final_Revision.xlsx
EIA923_Schedules_6_7_NU_SourceNDisposition_2015_Final_Revision.xlsx

In [77]:
%%time
df_eia923_y2015 = pd.read_excel(path_eia923 + 'f923_2015/EIA923_Schedules_2_3_4_5_M_12_2015_Final_Revision.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

CPU times: user 38 s, sys: 331 ms, total: 38.4 s
Wall time: 38.8 s

In [78]:
df_eia923_y2015

Sources: EIA-923 and EIA-860 Reports,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 87_level_0,Unnamed: 88_level_0,Unnamed: 89_level_0,Unnamed: 90_level_0,Year-To-Date,Unnamed: 92_level_0,Unnamed: 93_level_0,Unnamed: 94_level_0,Unnamed: 95_level_0,Unnamed: 96_level_0
,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,974.1,1728.56,2698.29,3881.34,0,0,241548,241548,25920.000,2015
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,126735,145359,244112,223707,770956,770956,788125,788125,2464536.000,2015
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,217458,254183,441658,424910,46149030,46149030,47195389,47195389,4318717.000,2015
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,495747,337972,308318,352781,2153948,2153948,46083543,46083543,4559960.600,2015
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,1351.08,1970.37,3594.89,1183.95,446649,446649,457069,457069,44348.399,2015
5,4,N,NaN,Walter Bouldin Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,6795,26566,68892,124260,0,0,5222993,5222993,560467.000,2015
6,7,Y,NaN,Gadsden,Alabama Power Co,195,AL,ESC,SERC,NaN,...,0,0,0,0,8217,7707,207246,194345,15644.693,2015
7,7,Y,NaN,Gadsden,Alabama Power Co,195,AL,ESC,SERC,NaN,...,18671,17173,16576,14853,2666874,2480360,2704266,2515307,199010.310,2015
8,7,Y,NaN,Gadsden,Alabama Power Co,195,AL,ESC,SERC,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
9,8,N,NaN,Gorgas,Alabama Power Co,195,AL,ESC,SERC,NaN,...,563772,4005.03,-2946.48,196672,1947751,1947751,45604527,45604527,4637792.800,2015
10,8,N,NaN,Gorgas,Alabama Power Co,195,AL,ESC,SERC,NaN,...,96.664,70.972,-5.521,4339.43,25217,25217,146451,146451,14249.181,2015
11,9,N,NaN,Copper,El Paso Electric Co,5701,TX,WSC,WECC,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
12,9,N,NaN,Copper,El Paso Electric Co,5701,TX,WSC,WECC,NaN,...,2282.86,1988.8,1727.38,1947.29,432149,432149,441224,441224,24907.000,2015
13,10,N,NaN,Greene County,Alabama Power Co,195,AL,ESC,SERC,NaN,...,25.995,0,-7.735,12.444,10485,10485,61189,61189,3788.674,2015
14,10,N,NaN,Greene County,Alabama Power Co,195,AL,ESC,SERC,NaN,...,4467.01,112,-216.265,996.556,613942,613942,629042,629042,37848.326,2015
15,10,N,NaN,Greene County,Alabama Power Co,195,AL,ESC,SERC,NaN,...,215595,208179,120396,168540,956070,956070,22463065,22463065,2197200.800,2015
16,10,N,NaN,Greene County,Alabama Power Co,195,AL,ESC,SERC,NaN,...,549.356,1843.56,781.809,482.613,104138,104138,106809,106809,10447.202,2015
17,10,N,NaN,Greene County,Alabama Power Co,195,AL,ESC,SERC,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
18,11,N,NaN,H Neely Henry Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,7469.04,13254,20689.5,29760.7,0,0,1852105,1852105,198745.000,2015
19,12,N,NaN,Holt Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,1136.53,2016.79,3148.21,4528.53,0,0,281823,281823,30242.000,2015
20,13,N,NaN,Jordan Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,12645.2,22439.2,35027.7,50385.4,0,0,3135647,3135647,336479.000,2015
21,14,N,NaN,Logan Martin Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,8677,19620,46835,70830,0,0,3341391,3341391,358557.000,2015
22,15,N,NaN,Lay Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,14594,28496,68079,91789,0,0,5197840,5197840,557768.000,2015
23,16,N,NaN,Martin Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,7294,16613,49140,40797,0,0,2702372,2702372,289985.000,2015
24,17,N,NaN,Mitchell Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,11750,22744,54262,78259,0,0,4333699,4333699,465039.000,2015
25,18,N,NaN,Lewis Smith Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,13922,6875,11700,29090,0,0,2246670,2246670,241085.000,2015
26,19,N,NaN,Thurlow Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,7276.59,12912.5,20156.4,28993.9,0,0,1804383,1804383,193624.000,2015
27,20,N,NaN,Weiss Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,7973.64,14149.4,22087.3,31771.3,0,0,1977230,1977230,212172.000,2015
28,21,N,NaN,Yates Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,4407.43,7821.07,12208.7,17561.6,0,0,1092915,1092915,117278.000,2015
29,26,N,NaN,E C Gaston,Alabama Power Co,195,AL,ESC,SERC,NaN,...,26,14,12,-7,833,833,4827,4827,229.000,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12422,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NV,MTN,NaN,NaN,...,.,.,.,.,29,5,169,28,3.091,2015
12423,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,.,.,.,0,0,0,0,0,0.000,2015
12424,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,1441.04,941.609,394.916,499.188,4758,4758,27594,27594,24293.576,2015
12425,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,4280.58,3905.86,3812.01,3756.4,65252,65252,67224,67224,46838.692,2015
12426,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
12427,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,0.974,1.004,0.879,0.986,14,14,84,84,13.547,2015
12428,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,105.858,71.796,86.575,104.053,21180,6508,122853,37739,3218.715,2015
12429,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,4554.42,4160.68,4072.31,3928.99,962146,563800,991298,580891,49542.599,2015
12430,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,NY,MAT,NaN,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
12431,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,OH,ENC,NaN,NaN,...,.,.,.,0,0,0,0,0,0.000,2015
12432,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,OK,WSC,NaN,NaN,...,.,.,.,0,0,0,0,0,0.000,2015
12433,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,PA,MAT,NaN,NaN,...,101.767,69.022,83.229,100.031,14159,7676,82029,44472,3094.317,2015
12434,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,PA,MAT,NaN,NaN,...,14572.4,13138.5,14944.2,14406.4,224374,223707,2433157,2426078,182563.120,2015
12435,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,PA,MAT,NaN,NaN,...,.,.,.,0,0,0,0,0,0.000,2015
12436,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,PA,MAT,NaN,NaN,...,.,.,.,0,0,0,0,0,0.000,2015
12437,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,RI,NEW,NaN,NaN,...,12.837,8.388,3.518,4.447,510,234,2957,1354,216.412,2015
12438,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,RI,NEW,NaN,NaN,...,2524.22,2296.06,2216.3,2247.6,379188,169340,390349,174320,27872.766,2015
12439,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,RI,NEW,NaN,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
12440,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,RI,NEW,NaN,NaN,...,444.037,301.159,363.153,436.464,249,249,1444,1444,13501.387,2015
12441,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,RI,NEW,NaN,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
12442,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,.,.,.,.,378898,378898,390265,390265,144384.280,2015
12443,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,.,.,.,.,9176878,4344113,9452185,4474437,819818.590,2015
12444,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,8235.23,7981.97,8086.9,8718.73,1016083,665646,1048860,687113,96718.255,2015
12445,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,2910.78,2571.13,2685.87,3287.49,2029600,407107,1211100,243063,34213.650,2015
12446,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,33945.2,32351.4,33069,34859.6,4555939,4555939,4702923,4702923,391808.180,2015
12447,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,0,0,0,0,0,0,0,0,0.000,2015
12448,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,33245,32208.6,32522.8,35302.8,5755584,4381116,5941223,4522396,389679.120,2015
12449,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,TX,WSC,NaN,NaN,...,8369.6,7385.37,7702.26,9526.37,2326177,1932974,1388620,1154011,99437.105,2015
12450,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,VA,SAT,NaN,NaN,...,.,.,.,.,0,0,0,0,10992.407,2015
12451,99999,Y,NaN,State-Fuel Level Increment,State-Fuel Level Increment,99999,VA,SAT,NaN,NaN,...,.,.,.,.,0,0,0,0,23895.593,2015

In [83]:
df_eia923_y2015.shape

(12452, 97)

In [79]:
!ls eia923/f923_2014/

EIA923_Schedule_8_Annual_Environmental_Information_2014_Final_Revision.xlsx
EIA923_Schedules_2_3_4_5_M_12_2014_Final_Revision.xlsx
EIA923_Schedules_6_7_NU_SourceNDisposition_2014_Final_Revision.xlsx

In [80]:
%%time
df_eia923_y2014 = pd.read_excel(path_eia923 + 'f923_2014/EIA923_Schedules_2_3_4_5_M_12_2014_Final_Revision.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

CPU times: user 38.9 s, sys: 179 ms, total: 39 s
Wall time: 39.1 s

In [84]:
df_eia923_y2014.shape

(12173, 97)

In [85]:
df_eia923_y2014.head()

Sources: EIA-923 and EIA-860 Reports,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 87_level_0,Unnamed: 88_level_0,Unnamed: 89_level_0,Unnamed: 90_level_0,Year-To-Date,Unnamed: 92_level_0,Unnamed: 93_level_0,Unnamed: 94_level_0,Unnamed: 95_level_0,Unnamed: 96_level_0
,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,2158.11,3787.84,3950.73,5101.45,0,0,450688,450688,47391.000,2014
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,231626,272789,263943,239198,620422,620422,638256,638256,2838798.000,2014
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,390970,470114,467025,424903,52954669,52954669,54383172,54383172,4906688.000,2014
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,503937,260815,227759,274926,2497288,2497288,53018821,53018821,5142849.400,2014
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,4090.71,2887.29,4604.24,4552.12,933378,933378,957522,957522,92693.568,2014

In [86]:
!ls eia923/f923_2013

EIA923_Schedule_8_PartsA-D_EnvData_2013_Final_Revision.xlsx
EIA923_Schedules_2_3_4_5_2013_Final_Revision.xlsx
EIA923_Schedules_6_7_NU_SourceNDisposition_2013_Final.xlsx

In [87]:
%%time
df_eia923_y2013 = pd.read_excel(path_eia923 + 'f923_2013/EIA923_Schedules_2_3_4_5_2013_Final_Revision.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

CPU times: user 34.7 s, sys: 174 ms, total: 34.9 s
Wall time: 35 s

In [88]:
df_eia923_y2013.head()

Sources: EIA-923 and EIA-860 Reports,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 87_level_0,Unnamed: 88_level_0,Unnamed: 89_level_0,Unnamed: 90_level_0,Year-To-Date,Unnamed: 92_level_0,Unnamed: 93_level_0,Unnamed: 94_level_0,Unnamed: 95_level_0,Unnamed: 96_level_0
,Plant Id,Combined Heat & Power Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,State,Census Region,NERC Region,Reserved,...,Netgen_Sep,Netgen_Oct,Netgen_Nov,Netgen_Dec,Total Fuel Consumption Quantity,Electric Fuel Consumption Quantity,Total Fuel Consumption MMBtu,Elec Fuel Consumption MMBtu,Net Generation (Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,10038.3,9972.83,10268.9,24288.3,0,0,2016412,2016412,211342.00,2013
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,238775,238711,256685,264211,575166,575166,588611,588611,2813479.00,2013
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,420814,427139,451818,467745,53116114,53116114,54371640,54371640,5004417.00,2013
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,578039,579765,143120,219258,2417558,2417558,51202482,51202482,4962411.90,2013
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,4814.12,5506.45,1674.62,6645.93,1178044,1178044,1206368,1206368,116829.14,2013

In [89]:
!ls eia923/f923_2012

EIA923_Schedule_8_Annual_Environmental_Information_2012_Final_Revision.xlsx
EIA923_Schedules_2_3_4_5_M_12_2012_Final_Revision.xlsx
EIA923_Schedules_6_7_NU_SourceNDisposition_2012_Final_Revision.xlsx

In [90]:
%%time
df_eia923_y2012 = pd.read_excel(path_eia923 + 'f923_2012/EIA923_Schedules_2_3_4_5_M_12_2012_Final_Revision.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

CPU times: user 33.8 s, sys: 156 ms, total: 34 s
Wall time: 34.1 s

In [91]:
df_eia923_y2012.head()

Sources: EIA-923 and EIA-860 Reports,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 87_level_0,Unnamed: 88_level_0,Unnamed: 89_level_0,Unnamed: 90_level_0,Year-To-Date,Unnamed: 92_level_0,Unnamed: 93_level_0,Unnamed: 94_level_0,Unnamed: 95_level_0,Unnamed: 96_level_0
,Plant Id,Combined Heat And\nPower Plant,Nuclear Unit Id,Plant Name,Operator Name,Operator Id,Plant State,Census Region,NERC Region,Reserved,...,Netgen\nSeptember,Netgen\nOctober,Netgen\nNovember,Netgen\nDecember,Total Fuel Consumption\nQuantity,Electric Fuel Consumption\nQuantity,Total Fuel Consumption\nMMBtu,Elec Fuel Consumption\nMMBtu,Net Generation\n(Megawatthours),YEAR
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,10017.2,11576.6,11378.2,17358.4,0,0,1514757,1514757,159180.00,2012
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,242342,251588,211905,261126,640125,640125,652416,652416,2851073.00,2012
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,431341,454159,386138,484909,54361491,54361491,55405154,55405154,5092309.00,2012
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,602948,427608,495230,340630,2405511,2405511,53178323,53178323,5181893.50,2012
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,17202.7,26204.3,10804.4,31387.8,1377674,1377674,1405818,1405818,137253.46,2012

In [92]:
!ls eia923/f923_2011

EIA923_Schedule_8_PartsA-F_EnvData_2011_Final_Revision.xlsx
EIA923_Schedules_2_3_4_5_2011_Final_Revision.xlsx
EIA923_Schedules_6_7_NU_SourceNDisposition_2011_Final_Revision.xlsx

In [93]:
%%time
df_eia923_y2011 = pd.read_excel(path_eia923 + 'f923_2011/EIA923_Schedules_2_3_4_5_2011_Final_Revision.xlsx', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [2, 3], skiprows = [0, 1])

CPU times: user 41.4 s, sys: 223 ms, total: 41.6 s
Wall time: 41.9 s

In [95]:
df_eia923_y2011.shape

(10461, 97)

In [96]:
!ls eia923/f923_2010

2010 Nonutility Source and Disposition.xls
EIA923 SCHEDULES 2_3_4_5 Final 2010.xls
SCHEDULE 3A 5A 8A 8B 8C 8D 8E 8F 2010 on NOV 30 2011.xls

In [109]:
%%time
df_eia923_y2010 = pd.read_excel(path_eia923 + 'f923_2010/SCHEDULE 3A 5A 8A 8B 8C 8D 8E 8F 2010 on NOV 30 2011.xls', 
                   sheetname='Generator',
                   header = [4], skiprows = [0, 1, 2])

CPU times: user 3.16 s, sys: 24.2 ms, total: 3.18 s
Wall time: 3.2 s

In [110]:
df_eia923_y2010.head()

,Plant ID,Combined Heat & Power Plant,Plant Name,Operator Name,Operator ID,State,Census Region,NERC Region,NAICS Code,EIA Sector Number,...,Net Generation May,Net Generation June,Net Generation July,Net Generation August,Net Generation September,Net Generation October,Net Generation November,Net Generation December,Net Generation Year to Date,YEAR
0,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,-844.0,47681.0,62073.0,53827.0,19536.0,-986.0,-892.0,19274.0,435334.0,2010
1,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,51009.0,61392.0,53552.0,56864.0,5903.0,52280.0,42924.0,39345.0,538495.0,2010
2,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,25952.0,82822.0,87452.0,102186.0,108346.0,130.0,-424.0,48524.0,906322.0,2010
3,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,189346.0,186810.0,193521.0,175817.0,61257.0,72816.0,145685.0,120080.0,1873386.0,2010
4,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,407492.0,395281.0,358953.0,387558.0,382436.0,126639.0,310887.0,341321.0,4080795.0,2010

In [99]:
df_eia923_y2010.shape

(2969, 27)

In [100]:
!ls eia923/f923_2009

2009 Nonutility Source and Disposition.xls
EIA923 SCHEDULES 2_3_4_5 M Final 2009 REVISED 05252011.XLS
SCHEDULE 3A 5A 8A 8B 8C 8D 8E 8F REVISED 2009 04112011.xls

In [111]:
%%time
df_eia923_y2009 = pd.read_excel(path_eia923 + 'f923_2009/SCHEDULE 3A 5A 8A 8B 8C 8D 8E 8F REVISED 2009 04112011.xls', 
                   sheetname='Generator',
                   header = [4], skiprows = [0, 1, 2])

CPU times: user 2.16 s, sys: 14 ms, total: 2.17 s
Wall time: 2.19 s

In [113]:
df_eia923_y2009.columns

Index(['Plant ID', 'Combined Heat & Power Plant', 'Plant Name',
       'Operator Name', 'Operator ID', 'State', 'Census Region', 'NERC Region',
       'NAICS Code', 'EIA Sector Number', 'Sector Name', 'Generator ID',
       'Prime Mover Type', 'Net Generation January', 'Net Generation February',
       'Net Generation March', 'Net Generation April', 'Net Generation May',
       'Net Generation June', 'Net Generation July', 'Net Generation August',
       'Net Generation September', 'Net Generation October',
       'Net Generation November', 'Net Generation December',
       'Net Generation Year to Date', 'YEAR'],
      dtype='object')

In [114]:
!ls eia923/f923_2008

2008 Nonutility Source and Disposition Final version.xlsm
SCHEDULE 3A 5A 8A 8B 8C 8D 8E 8F 2008.xlsm
eia923December2008.xls

In [116]:
%%time
df_eia923_y2008 = pd.read_excel(path_eia923 + 'f923_2008/SCHEDULE 3A 5A 8A 8B 8C 8D 8E 8F 2008.xlsm', 
                   sheetname='Generator Data',
                   header = [4], skiprows = [0, 1, 2])

CPU times: user 7.77 s, sys: 31.5 ms, total: 7.8 s
Wall time: 7.82 s

In [117]:
df_eia923_y2008.head()

,Plant ID,Combined Heat & Power Plant,Plant Name,Operator Name,Operator ID,State,Census Region,NERC Region,NAICS Code,EIA Sector Number,...,Net Generation May,Net Generation June,Net Generation July,Net Generation August,Net Generation September,Net Generation October,Net Generation November,Net Generation December,Net Generation Year to Date,YEAR
0,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,68161.0,85115.0,83212.0,73552.0,78868.0,13220.0,48935.0,82277.0,873997.0,2008
1,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,65960.0,80193.0,78610.0,70323.0,75097.0,1399.0,42067.0,79150.0,813505.0,2008
2,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,76997.0,137305.0,160621.0,137580.0,136624.0,93794.0,117046.0,148507.0,1458889.0,2008
3,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,255213.0,205602.0,259910.0,248599.0,246877.0,150877.0,145354.0,194071.0,2445624.0,2008
4,3,N,Barry,Alabama Power Co,195,AL,ESC,SERC,22,1,...,484488.0,401640.0,492063.0,471677.0,448367.0,404187.0,455671.0,439523.0,3968109.0,2008

In [119]:
!ls eia923/f906920_2007

2007 Nonutility Source and Disposition.xls
f906920_2007.xls

In [127]:
%%time
df_eia923_y2007 = pd.read_excel(path_eia923 + 'f906920_2007/f906920_2007.xls', 
                   sheetname='Page 1 Generation and Fuel Data',
                   header = [4], skiprows = [0, 1])

CPU times: user 3.95 s, sys: 27.7 ms, total: 3.98 s
Wall time: 4 s

In [128]:
df_eia923_y2007.head()

,Plant ID,Combined Heat & Power Plant,Nuclear Unit I.D.,Plant Name,Operator Name,Operator ID,State,Census Region,NERC Region,Reserved,...,NETGEN_SEP,NETGEN_OCT,NETGEN_NOV,NETGEN_DEC,TOTAL FUEL CONSUMPTION QUANTITY,ELECTRIC FUEL CONSUMPTION QUANTITY,TOTAL FUEL CONSUMPTION MMBTUS,ELEC FUEL CONSUMPTION MMBTUS,NET GENERATION (megawatthours),Year
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195,AL,ESC,SERC,NaN,...,2281.960,2175.697,1914.962,1792.158,0,0,437289.0,437289.0,4.424200e+04,2007
1,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,0.000,0.000,0.000,0.000,0,0,0.0,0.0,0.000000e+00,2007
2,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,285526.000,324981.000,257986.000,261566.000,28734210,28734210,30108541.0,30108541.0,4.081782e+06,2007
3,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,1053700.239,1147087.998,815838.999,1096463.270,4772876,4772876,113424626.0,113424626.0,1.104122e+07,2007
4,3,N,NaN,Barry,Alabama Power Co,195,AL,ESC,SERC,NaN,...,0.000,0.000,0.000,0.000,0,0,0.0,0.0,0.000000e+00,2007